@media only screen and (min-width :320px) and (max-width :979px)
{
.node-type-my-proposal.section-node-edit .required-fields.group-basic-prp-inner.field-group-div{width:100%; float:left; margin-right:0px !important;}
.node-type-my-proposal.section-node-edit .required-fields.group-document-for-proposal.field-group-div { float: left; width: 100%;}
.node-type-my-proposal.section-node-edit.form-field-type-addressfield.form-field-name-field-proposal-job-location.field-widget-addressfield-standard.form-wrapper{width:100%;}
.node-type-my-proposal.section-node-edit #field-proposal-job-location-add-more-wrapper > div{width:100% !important;}
}
@media only screen and (min-width :640px) and (max-width :767px)
{
.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1{font-size:22px;}
}
@media only screen and (min-width :320px) and (max-width :639px)
{
.node-type-my-proposal.section-node-edit #edit-actions{position:absolute; right:23px; top:58px;}
.node-type-my-proposal.section-node-edit .views-exposed-widget.views-widget-filter-keys{width:66% !important;}
}
@media only screen and (min-width :320px) and (max-width :479px)
{
.node-type-my-proposal.section-node-edit #edit-field-proposoal-bid-types-und > div{width:100%;}
.node-type-my-proposal.section-node-edit div.addressfield-container-inline > div.form-item{width:100% !important;}
.node-type-my-proposal.section-node-edit .ds-2col-stacked .group-left{width:95% !important;}
}

/** ************** responsive popup proposals aug 13 ********** */
@media only screen and (min-width :320px) and (max-width :767px)
{
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table table, #views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table thead, #views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table tbody, #views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table th, #views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td, 
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table tr { display: block; }
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table thead tr { position: absolute;top: -9999px;left: -9999px;}	
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table tr { border: 1px solid #ccc; }
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td { border: none;border-bottom: 1px dotted #5f6062; position: relative;padding-left:50%;}
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(1):before { content: "Date"; font-weight:bold; }
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(2):before { content: "Order"; font-weight:bold; }
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(3):before { content: "Product"; font-weight:bold; }
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(4):before { content: "Total";  font-weight:bold;}
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(5):before { content: "Status";font-weight:bold;}
#views-form-m6rfp-for-proposal-entityreference-view-widget-1 .views-table span{float:none;}

/******************************/
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table table, #views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table thead, #views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table tbody, #views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table th, #views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td, 
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table tr { display: block; }
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table thead tr { position: absolute;top: -9999px;left: -9999px;}	
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table tr { border: 1px solid #ccc; }
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td { border: none;border-bottom: 1px dotted #5f6062; position: relative;padding-left:50%;}
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(1):before { content: "Select"; font-weight:bold; }
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(2):before { content: "Project Name"; font-weight:bold; }
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(3):before { content: "Company"; font-weight:bold; }
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(4):before { content: "Post date";  font-weight:bold;}
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table td:nth-of-type(5):before { content: "Public Description";font-weight:bold;}
#views-form-m6project-for-proposal-entityreference-view-widget-1 .views-table span{float:none;}

/*****************************/

/******************************/
#views-form-m6individual-member-entityreference-view-widget-1 .views-table table, #views-form-m6individual-member-entityreference-view-widget-1 .views-table thead, #views-form-m6individual-member-entityreference-view-widget-1 .views-table tbody, #views-form-m6individual-member-entityreference-view-widget-1 .views-table th, #views-form-m6individual-member-entityreference-view-widget-1 .views-table td, 
#views-form-m6individual-member-entityreference-view-widget-1 .views-table tr { display: block; }
#views-form-m6individual-member-entityreference-view-widget-1 .views-table thead tr { position: absolute;top: -9999px;left: -9999px;}	
#views-form-m6individual-member-entityreference-view-widget-1 .views-table tr { border: 1px solid #ccc; }
#views-form-m6individual-member-entityreference-view-widget-1 .views-table td { border: none;border-bottom: 1px dotted #5f6062; position: relative;padding-left:50%;}
#views-form-m6individual-member-entityreference-view-widget-1 .views-table td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
#views-form-m6individual-member-entityreference-view-widget-1 .views-table td:nth-of-type(1):before { content: "Select"; font-weight:bold; }
#views-form-m6individual-member-entityreference-view-widget-1 .views-table td:nth-of-type(2):before { content: "Member Name"; font-weight:bold; }
#views-form-m6individual-member-entityreference-view-widget-1 .views-table td:nth-of-type(3):before { content: "E-mail"; font-weight:bold; }
#views-form-m6individual-member-entityreference-view-widget-1 .views-table span{float:none;}

/*****************************/

/******************************/
#views-form-m6companies-entityreference-view-widget-1 .views-table table, #views-form-m6companies-entityreference-view-widget-1 .views-table thead, #views-form-m6companies-entityreference-view-widget-1 .views-table tbody, #views-form-m6companies-entityreference-view-widget-1 .views-table th, #views-form-m6individual-member-entityreference-view-widget-1 .views-table td, 
#views-form-m6companies-entityreference-view-widget-1 .views-table tr { display: block; }
#views-form-m6companies-entityreference-view-widget-1 .views-table thead tr { position: absolute;top: -9999px;left: -9999px;}	
#views-form-m6companies-entityreference-view-widget-1 .views-table tr { border: 1px solid #ccc; }
#views-form-m6companies-entityreference-view-widget-1 .views-table td { border: none;border-bottom: 1px dotted #5f6062; position: relative;padding-left:50%;}
#views-form-m6companies-entityreference-view-widget-1 .views-table td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
#views-form-m6companies-entityreference-view-widget-1 .views-table td:nth-of-type(1):before { content: "Select"; font-weight:bold; }
#views-form-m6companies-entityreference-view-widget-1 .views-table td:nth-of-type(2):before { content: "Company Name"; font-weight:bold; }
#views-form-m6companies-entityreference-view-widget-1 .views-table span{float:none;}

/*****************************/

.create_new_prop_pop_content .create_pop_text{width:100%;}
#create_new_prop_pop_content #send_pop_text {
    width: 98%;
}
#create_new_prop_pop_content #view_pop_text {
    width: 98%;
}
}

@media only screen and (min-width :768px) and (max-width :800px)
{
.head_creat_prop .left_cre_prop h1{font-size:21px !important;}
}
@media only screen and (min-width :640px) and (max-width :767px)
{
/*.logged-in form .form-actions .form-submit{font-size:12px; padding:5px !important;}*/
.node-type-my-proposal.section-node-edit #edit-actions{right:60px !important;}
.node-type-my-proposal.section-node-edit.logged-in .cancel{width:53px !important; right:6px !important;}
.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1 {font-size: 18px;  padding-top: 41px;}
}
@media only screen and (min-width :460px) and (max-width :639px)
{
.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1{margin-top:-13px !important;}
.node-type-my-proposal.section-node-edit #edit-actions{right:73px !important; top:76px !important;}
.node-type-my-proposal.section-node-edit.logged-in .cancel{right:0px !important; top:75px !important;}
/*.logged-in form .form-actions .form-submit{font-size:12px; padding:5px !important;}*/
}
@media only screen and (min-width :320px) and (max-width :459px)
{
.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1{margin-top:-19px !important; float:left; text-align:center; width:100%;}
.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop > a{background:none repeat scroll 0 0 #1f83be; width:100% !important;}
.node-type-my-proposal.section-node-edit .box.box-with-image{margin-top:50px !important;}
.node-type-my-proposal.section-node-edit #edit-actions{right:67px !important; top:154px !important; width:auto !important;}
.node-type-my-proposal.section-node-edit.logged-in .cancel{right:7px !important; top:154px !important; font-size:12px; width:58px !important; padding:4px !important;}
/*.logged-in form .form-actions .form-submit{font-size:12px; padding:3px !important;}*/
#edit-field-footer-buttton > div p input {  float: left; font-size: 12px; margin-right: 4px;}
.cancel_bottom a{font-size:12px; padding:4px 10px !important;}

}
@media only screen and (min-width :320px) and (max-width :359px)
{
	.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1{font-size:17px !important;}
}
@media only screen and (min-width :360px) and (max-width :459px)
{
	.node-type-my-proposal.section-node-edit .head_creat_prop .left_cre_prop h1{font-size:17px !important;}
}
@media only screen and (min-width :320px) and (max-width :550px)
{
.indi_red {
    color: #f00;
    float: right;
    font-size: 12px;
    margin-top: -33px;
    padding-top: 2px;
}

}
@media only screen and (min-width :320px) and (max-width :979px)
{
#mymap iframe {
    float: left;
    margin: 0 !important;
    padding-left: 0 !important;
    width: 100%;
}
#mymap {width:100% !important; margin-left:0px !important; margin-top:20px;}
#field-mymap-add-more-wrapper #mymap {width:100% !important; margin-left:0px !important;}
}
@media only screen and (min-width :980px) and (max-width :1232px)
{
.node-type-my-proposal.section-node-edit div.addressfield-container-inline > div.form-item{margin-right:16px !important;}
}
/*@media only screen and (min-width :1024px) and (max-width :1140px)
{
#edit-field-footer-buttton > div{width:35% !important;}
}
@media only screen and (min-width :900px) and (max-width :1023px)
{
	#edit-field-footer-buttton > div{width:41% !important;}
}
@media only screen and (min-width :800px) and (max-width :899px)
{
	#edit-field-footer-buttton > div{width:45% !important;}
}
@media only screen and (min-width :750px) and (max-width :799px)
{
	#edit-field-footer-buttton > div{width:49% !important;}
}
@media only screen and (min-width :700px) and (max-width :749px)
{
	#edit-field-footer-buttton > div{width:52% !important;}
}
@media only screen and (min-width :640px) and (max-width :699px)
{
	#edit-field-footer-buttton > div{width:58% !important;}
}
@media only screen and (min-width :320px) and (max-width :639px)
{
	#edit-field-footer-buttton > div{float:left; width:100%;}
}*/